{% extends 'base.html.twig' %}

{% block title %}devis clef!{% endblock %}
{% block body %}
<div class="contenaire">

    <h1>Liste des devis</h1>
    <div class="row">
        
        
        <div class="col-3 " >
    
            <h2>devis en attente de traitement</h2>
    
            {% if devisAValides|length >0 %}                    
            {% for devis in devisAValides %}
                <div class="devis-li">    
                    <h2>
                        Devis pour {{devis.nom}} {{devis.prenom}}
                    </h2>
                    <ul>
                        <li >
                            {{devis.forme}}
                        </li>
                        <li>
                            {{devis.bois}}
                        </li>
                        <li>
                            {{devis.metal}}
                        </li>
                    </ul>
                    accepter le devis ?
                    <button type="submit" value="{{devis.id}}"  method="post" > <a href="{{ path('validerDevis', {'id': devis.id }) }}">validerDevis</a></button> 

                </div>
                {% endfor %}
                {% else %}
                <p>Vous n'avez pas de devis en attente de traitement</p>
                {% endif %}
        </div>
    
    
    
    
    
        <div class="col-3" >
    
            <h2>Vos devis validés par l'artisan</h2>
    
            {% for devis in devisValides %}
            <div class="devis-li">    
                <h2>
                    Devis pour {{devis.nom}} {{devis.prenom}}
                </h2>
                <ul>
                    <li >
                        {{devis.forme}}
                    </li>
                    <li>
                        {{devis.bois}}
                    </li>
                    <li>
                        {{devis.metal}}
                    </li>
                </ul>
                <p>devis Validé par le gestionaire</p>
                
                
            </div>
            {% endfor %}
        </div>
    
        <div class="col-3" >
            <h2>Vos devis acceptés </h2>
    
            {% for devis in devisAccepters %}
            <div class="devis-li">    
                <h2>
                    Devis pour {{devis.nom}} {{devis.prenom}}
                </h2>
                <ul>
                    <li>
                        {{devis.forme}}
                    </li>
                    <li>
                        {{devis.bois}}
                    </li>
                    <li>
                        {{devis.metal}}
                    </li>
                </ul>
                <button type="submit" value="{{devis.id}}"  method="post" > <a href="{{ path('clefFinis', {'id': devis.id }) }}">La clef a été finis</a></button>            
            </div>
            {% endfor %}
        </div>
        
        <div class="col-3" >
            <h2>Vos devis refusés </h2>
            
            {% for devis in devisRefuses %}
            <div class="devis-li">    
                <h2>
                Devis pour {{devis.nom}} {{devis.prenom}}
            </h2>
            <ul>
                <li>
                    {{devis.forme}}
                </li>
                <li>
                    {{devis.bois}}
                </li>
                <li>
                    {{devis.metal}}
                </li>
            </ul>
            <p>devis refusé par le client</p>
            
            
        </div>
        {% endfor %}
        </div>
    
        
        <div class="col-3 " >
            <h2>clef finis </h2>
            
            {% for devis in clefFinis %}
            <div class="devis-li">    
                <h2>
                    Devis pour {{devis.nom}} {{devis.prenom}}
                </h2>
                <ul>
                    <li>
                        {{devis.forme}}
                    </li>
                    <li>
                        {{devis.bois}}
                    </li>
                    <li>
                        {{devis.metal}}
                    </li>
                </ul>
                <p>devis refusé par le client</p>
                
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
