{% extends 'base.html.twig' %}

{% block title %}devis clef!{% endblock %}

{% block body %}

<div class="contenaire">
    <h2> presentation rapide </h2>
    <section>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
     magni sequi. Cumque dolor asperiores debitis nihil consequatur tenetur consequuntur,
      blanditiis atque, praesentium fugit ad totam. Cum rerum quis perferendis adipisci?
</p>
</section>
<h2> Fotmulaire de creation de devis</h2>
<p>
    Entré vos information personelle pour pouvoir faire votre devis en ligne 
</p>
{{ form_start(formDevis) }}
<section class="formulaireDevis " id="devisUn">
        <h3>info personelle</h3>
            {{ form_row(formDevis.nom) }}
            {{ form_row(formDevis.prenom ) }}

            <input type="button" id="suivantZero" value="Suivant"> </input>
    </section>
    <section class="formulaireDevis cacheDevis" id="devisDeux">
        <h3> info sur la serrure</h3>
            {{ form_row(formDevis.typeSerrure) }}
            {{ form_row(formDevis.descriptionSerrure) }}
            {{ form_row(formDevis.NumerosDeSerieSerrure ) }}
            {{ form_row(formDevis.detaillSuplementaire) }}    
            <input type="button" id="suivantUn" value="Suivant"> </input>
            <input type="button" id="PrecedentUn" value="Précédent" > </input>  
    </section>
    <section class="formulaireDevis cacheDevis" id="devisTrois">
        <h3>choix des option</h3>
             {{ form_row(formDevis.bois) }}
            {{ form_row(formDevis.metal ) }}
            {{ form_row(formDevis.forme) }} 
        <button type="submit" class="btn">Créez votre clef</button>
        <input type="button" id="PrecedentDeux" value="Précédent" > </input>
    </section>
    {{ form_end(formDevis) }}
</div>

<script src="{{asset('JS/formulaireDevis.js')}}"></script>
{% endblock %}
