{% extends 'base.html.twig' %}
{% block title %}Vos Clef{% endblock %}

{% block body %}
<div class="contenaire">

    <h1>Liste des devis</h1>
    <div class="row">
        
        
        <div class="col-3 " >
    
            <h2>devis en attente de traitement</h2>
    
                {% if devisAValides|length >0 %}                    
                    {% for devis in devisAValides %}
                        <div class="devis-li">    
                            <h3>La demande suivante a été envoyer à l'artisant:</h3>
                            <p>
                                Devis pour {{devis.nom}}  {{devis.prenom}}                        

                            </p>

                            <p>
                                la clef aura la forme suivante : {{devis.forme}} <br>
                                avec les matériaux suivant :
                                <ul>                           
                                    <li>
                                        bois de {{devis.bois}} 
                                    </li>
                                    <li>
                                        métal :{{devis.metal}}    
                                    </li>
                                </ul>       
                            </p>
                            <p>
                                Pour la serreure vous avez envoyer les information suivante :
                                Type de serrure : {{devis.typeSerrure}} <br>
                                Description de la serrure:  {{devis.descriptionSerrure}}
                            </p> 
                        </div>
                    {% endfor %}
                {% else %}
                <p>Vous n'avez pas de devis en attente de traitement</p>
                {% endif %}
        </div>
        
    
    
    
    
        <div class="col-3" >
    
            <h2>Vos devis validés par l'artisan</h2>

            {% if devisValides|length >0 %}                    
                {% for devis in devisValides %}
                <div class="devis-li">    
                        <h3>La demande suivante a été envoyer à l'artisant:</h3>
                        <p>
                            Devis pour {{devis.nom}}  {{devis.prenom}}                        

                        </p>

                        <p>
                            la clef aura la forme suivante : {{devis.forme}} <br>
                            avec les matériaux suivant :
                            <ul>                           
                                <li>
                                    bois de {{devis.bois}} 
                                </li>
                                <li>
                                    métal :{{devis.metal}}    
                                </li>
                            </ul>       
                        </p>
                        <p>
                            Pour la serreure vous avez envoyer les information suivante :
                            Type de serrure : {{devis.typeSerrure}} <br>
                            Description de la serrure:  {{devis.descriptionSerrure}}
                        </p> 
                        {% if devis.statut.id == 2 %}
                            <p>devis Validé par le gestionaire</p>
                            <p>
                                validé le devis ?         
                            </p>
                            <a href="{{ path('acepterDevis', {'id': devis.id }) }}">oui</a>
                            <br>
                            <a href="{{ path('refuserDevis', {'id': devis.id }) }}">non</a>
                        {% else %}
                            <p>
                                Pas d'action a faire pour le moment
                            </p>
                        {% endif %}
                </div>
                {% endfor %}
        {% else %}
            <p>Vous n'avez pas de devis en attente de traitement</p>
         {% endif %}
        </div>


        <div class="col-3" >
            <h2>Vos devis acceptés </h2>
    
            {% for devis in devisAccepters %}
            <div class="devis-li">    
                <h2>
                    Devis pour {{devis.nom}} {{devis.prenom}}
                </h2>
                <ul>
                    <li>
                        {{devis.forme}}
                    </li>
                    <li>
                        {{devis.bois}}
                    </li>
                    <li>
                        {{devis.metal}}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        
        <div class="col-3" >
            <h2>Vos devis refusés </h2>
            
            {% for devis in devisRefuses %}
            <div class="devis-li">    
                <h2>
                Devis pour {{devis.nom}} {{devis.prenom}}
            </h2>
            <ul>
                <li>
                    {{devis.forme}}
                </li>
                <li>
                    {{devis.bois}}
                </li>
                <li>
                    {{devis.metal}}
                </li>
            </ul>
            <p>devis refusé par le client</p>
            
            
        </div>
        {% endfor %}
        </div>
    
        
        <div class="col-3 " >
            <h2>clef finis </h2>
            
            {% for devis in clefFinis %}
            <div class="devis-li">    
                <h2>
                    Devis pour {{devis.nom}} {{devis.prenom}}
                </h2>
                <ul>
                    <li>
                        {{devis.forme}}
                    </li>
                    <li>
                        {{devis.bois}}
                    </li>
                    <li>
                        {{devis.metal}}
                    </li>
                </ul>
                <p>La clef es finis</p>
                
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}