{% extends 'base.html.twig' %}

{% block title %}Vos Clef{% endblock %}

{% block body %}

<h1>Liste de vos clef</h1>


<div class="devis">

    <div class="devisAValides flexUn" >

        <h2>devis a validé</h2>



        {% for devis in devisAValides %}
        <article>    
            <h2>
                Devis pour {{devis.nom}} {{devis.prenom}}
            </h2>
            <ul>
                <li>
                    {{devis.forme}}
                </li>
                <li>
                    {{devis.bois}}
                </li>
                <li>
                    {{devis.metal}}
                </li>
            </ul>

            <p>L'artisant a pris en compte votre devis une proposition comercial vous sera donné au plus tôt</p>

                
        </article>

    </div>
    
    
    <div class="devisValides flexUn" >

        <h2>devis à confirmé</h2>

        {% for devis in devisValides %}
        <article>    
            <h2>
                Devis pour {{devis.nom}} {{devis.prenom}}
            </h2>
            <ul>
                <li>
                    {{devis.forme}}
                </li>
                <li>
                    {{devis.bois}}
                </li>
                <li>
                    {{devis.metal}}
                </li>
            </ul>
            <p> accepter le devis ?</p>
           
    
        <a href="{{ path('acepterDevis', {'id': devis.id }) }}">oui</a>
        <br>
        <a href="{{ path('refuserDevis', {'id': devis.id }) }}">non</a>
                
        </article>

    </div>







{% endblock %}