{% extends 'base.html.twig' %}

{% block title %}Page d'accuille{% endblock %}

{% block body %}

<section class="accueil">

    <h1>QUI SOMMES NOUS?</h1>
    
    <p>Bmkeys est une entreprise artisanal qui produit des clef personalisé de haut qualité.</p>

                
    
                    
</section>


<section id="shop">
    <h2 class="title-shop"> NOS DERNIERES CREATIONS</h2>
                    
        <article class="carousellShop">
            {% if photos is defined and photos is not empty %}

                {% for photo in photos %}
                            
                            <figure>
                                <img src="{{photo.liens}}" alt="{{photo.titre}} ">
                            </figure>

                {% endfor %}                        
                    
           

                    {% endif %}
                    
                </article>
                
                {% if is_granted('ROLE_USER') %}
                <div class="devis">
                    <a class="brun" href="{{ path('devis')}}">Faire votre devis</a>

                </div>
                    
                {% endif %}
                        
            </section>



            <section id="apropos">
                
                <div class="artisan">
                    <figure>
                        <img src="{{ asset('images/artisan.jpg') }}" alt="brice durant artisan">
                        <figcaption>test</figcaption>
                    </figure>
                    <article>
                        <h2>test</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fugiat animi soluta delectus possimus eligendi doloribus voluptatum unde sed minima culpa, non nobis incidunt, cupiditate sit sunt deserunt nulla dolorum, architecto optio explicabo enim maxime ipsa libero. Dicta, molestiae! Iste dolore distinctio porro, cumque suscipit adipisci enim cum saepe perferendis quis odit modi omnis optio natus iure deserunt, reiciendis sunt maxime quo. Nisi, maiores explicabo quae quaerat officia magni animi deleniti nesciunt ducimus pariatur et numquam dolore distinctio esse, consectetur necessitatibus quisquam molestiae voluptatibus modi vitae provident soluta dolor, illo sunt. Sit, temporibus? Rerum ex in pariatur minima labore eos!*</p>
                    </article>
                </div>


            </section>
            <section >

                <h2class="accueil"> Les différente information lié a bmKeys</h2>
                <div id="actualite">

                    {% if articles is defined and articles is not empty %}
                    
                    <div class="contenaire_articles">
                        <div class="articles">
                            
                            {% for article in articles  %}            
                            <article>
                                <h4>
                                    {{article.titleArticle}}
                                </h4>
                                <p>
                                    {{article.textArticle}}
                                </p>
                            </article>
                            {% endfor %}
                            
                        </div>
                        {% else %}
                        <figure class="articles">
                            <img src="{{ asset('images/Placeholder-600x600.png') }}" alt="placeholder article">
                        </figure> 
                        <figure class="articles">
                            <img src="{{ asset('images/Placeholder-600x600.png') }}" alt="placeholder article">
                        </figure>
                        <figure class="articles">
                            <img src="{{ asset('images/Placeholder-600x600.png') }}" alt="placeholder article">
                        </figure>
                        {% endif %}
                        {% if article is defined %}
                        <a class="liens" href=" {{ path('article')}} " >Voir plus d'article</a>
                        
                        {% endif %}
                    </div>
                </div>
                </section>
            

      
    </div>

{% endblock %}
