{% extends 'base.html.twig' %}

{% block title %}Page d'accuille{% endblock %}

{% block body %}
    <div id="contenaire">
        <header>
            <figure>
                <img   id="logo" src="{{ asset('images/logo.png') }}" alt="logo bmKeys">
            </figure>

            <nav id="topNav">
                <a href="">Magassin</a>
                <a href="">à Propos</a>
                <a href="">Actualité</a>
            </nav>
        </header>

        {% if networks  is defined%}
            

            <nav id="leftNav">
                {% for network in networks %}
                {% if network.isActive%}    
                <a id="{{network.title}}" href="{{network.link}}"><i class="{{network.awesome}}"></i></a> 
                {% endif %}  
                {% endfor %}
            
            </nav>

        
        {% endif %}    

            <section id="shop">
                    
                <article class="carousellShop">
                    {% if photos is defined and photos is not empty %}

                            {% for photo in photos %}
                            
                            <figure>
                                <img src="{{photo.liens}}" alt="{{photo.titre}} ">
                            </figure>

                            {% endfor %}                        
                    
                        {% else %}

                        <figure>
                            <img src="{{ asset('images/Pas-dimage-disponible.jpg') }}" alt="Pas de Photographie disponible">
                        </figure>
                        <figure>
                            <img src="{{ asset('images/Pas-dimage-disponible.jpg') }}" alt="Pas de Photographie disponible">
                        </figure>
                        <figure>
                            <img src="{{ asset('images/Pas-dimage-disponible.jpg') }}" alt="Pas de Photographie disponible">
                        </figure>

                    {% endif %}
                    
                </article>
                
                <div class="liens">
                    <a class="brun" href="{{ path('devis')}}">choisir sa clef</a>

                </div>
                        
            </section>



            <section id="apropos">
                <div class=" carouselApropos">
                    <figure>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhNBGUqA0aytXXTN9RUZMBqAJlS7f7ED5Qbawd_dNRa9H_sI3WADO9r7zl17m7rQYPK6o&usqp=CAU" alt="img1">
                    </figure>
                    <figure>
                        <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/1h4/portrait-artisan-metier-manuel.webp" alt="img2">
                    </figure>
                    <figure>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ9Ycl4TfulFokUe4AGNAWT4YVYihVKoc_-5wZQn6RZWGLFYB_EQbWHhlugIWVFxpv8CE&usqp=CAU" alt="img3">
                    </figure>
                </div>


            </section>
            <section id="actualite">
                {% if articles is defined and articles is not empty %}

                    <div class="contenaire_articles">
                        <div class="articles">
                            
                            {% for article in articles  %}            
                                <article>
                                    <h4>
                                        {{article.titleArticle}}
                                    </h4>
                                    <p>
                                        {{article.textArticle}}
                                    </p>
                                </article>
                            {% endfor %}
                                
                        </div>
                        {% else %}
                        <p>Pas d'article disponible</p>
                {% endif %}
                    {% if article is defined %}
                    <a class="liens" href=" {{ path('article')}} " >Voir plus d'article</a>
                        
                    {% endif %}
                </div>
            </section>
            

            {# <section id="actualite">

                <h2>
                    Actualité
                </h2>
                <p>
                    Les actualite de bmKeys  vennez découvrire les principaux evenement autour de bmKeys
                </p>
                <div class="articles">
                    <article>
                        <h4>
                            Actualité
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </article>
                    <article>
                        <h4>
                            Press
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

                        </p>
                    </article>
                    <article>
                        <h4>
                            Project
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>

                    </article>
                </div>
                <a class="liens" href="">Voir plus d'article</a>


            </section> #}
            <footer>
                <h2>contact</h2>
                <h2>info légal</h2>
                <h2>autre</h2>

            </footer>
    </div>

{% endblock %}
